{#
    This template is used to render any error different from 403, 404 and 500.

    This is the simplest way to customize error pages in Symfony applications.
    In case you need it, you can also hook into the internal exception handling
    made by Symfony. This allows you to perform advanced tasks and even recover
    your application from some errors.
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'error' %}
{% block body %}
    <div class="page-wrap d-flex flex-row align-items-center gradient">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center text-white">
                    <h1>{{ 'error.500'|trans }} {{ status_code }}</h1>
                    <h3>{{ status_text }}</h3>
                    {% if exception.message %}
                        <p class="lead">
                            {{ exception.message }}
                        </p>
                    {% endif %}

                    <div class="text-center mt-5">
                        <a href="{{ path('product_list') }}" class="btn btn-primary btn-lg">
                            {{ 'navigation.menu.go-to-home'|trans({}, 'navigation') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

